@model Singl.Models.Curso

@{
    ViewBag.Title = $"Excluir curso \"{@Model.Nome}\"";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">@ViewBag.Title</h2>
                <hr class="hard">
                <h4>Tem certeza que deseja excluir o curso "@Model.Nome"?</h4>
                <div>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Codigo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Codigo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                    </dl>
                    <hr class="hard">
                    <form asp-controller="Curso" asp-action="Delete" method="post">
                        <div class="form-actions no-color pull-right">
                            <button type="submit" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"> Excluir</span>
                            </button>   
                        </div>
                        <div>
                            <a asp-controller="Curso"  asp-action="Index">Voltar à lista</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

