@model Neadm.Models.Curso

@{
    ViewBag.Title = $"Detalhes do curso \"{@Model.Nome}\"";
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">@ViewBag.Title</h2>
                <hr class="hard"/>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Codigo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Codigo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Tipo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Tipo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PerfilEgresso)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PerfilEgresso)
                        </dd>
                        <dt>Lista de disciplinas</dt>
                        <dd>
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Codigo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Nome)
                                    </th>
                                    <th></th>
                                </tr>
                            @foreach (var item in Model.Disciplinas) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        <a asp-controller="Disciplina" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                                        <a asp-controller="Disciplina" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                                    </td>
                                </tr>
                            }
                            </table>
                        </dd>
                    </dl>
                </div>
                <hr class="hard"/>
                <div class="pull-right">
                    <a asp-controller="Curso" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</a>
                    <a asp-controller="Curriculo" asp-action="Create" asp-route-cursoId="@Model.Id" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Criar currículo</a> 
                    <a asp-controller="Curriculo" asp-action="Index" asp-route-cursoId="@Model.Id" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Listar currículos</a> 
                </div>
                <div>
                    <a asp-controller="Curso" asp-action="Index">Voltar à lista</a>
                </div>
            </div>
        </div>
    </div>
</section>

