@model Singl.Models.Curso

@{
    ViewBag.Title = "Detalhes do curso";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes da disciplina</h2>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dd>
            <h3>Disciplinas</h3>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th></th>
                </tr>
            @foreach (var item in Model.Disciplinas) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        <a asp-controller="Disciplina" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-controller="Disciplina" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                        <a asp-controller="Disciplina" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                    </td>
                </tr>
            }
            </table>
        </dd>
    </dl>
</div>
<p>
    <a asp-controller="Curso" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-controller="Curso" asp-action="Index">Voltar à lista</a>
</p>

