@model IEnumerable<Neadm.Models.Disciplina>

@{
    ViewBag.Title = "Lista de disciplinas";
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Lista de disciplinas</h2>

<p>
    <a asp-controller="Disciplina" asp-action="Create">Criar disciplina</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            <a asp-controller="Disciplina" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
            <a asp-controller="Disciplina" asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
            <a asp-controller="Disciplina" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
        </td>
    </tr>
}
</table>

