@model Singl.Models.Curso
@{ Singl.Models.Disciplina disciplina = null; }

@{
    ViewBag.Title = $"Detalhes do curso \"{@Model.Nome}\"";
    Layout = "/Views/Shared/_InfoLayout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">@ViewBag.Title</h2>
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Codigo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Codigo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Tipo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Tipo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PerfilEgresso)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PerfilEgresso)
                        </dd>
                    </dl>
                    <h3>Disciplinas da oferta atual</h3>
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => disciplina.Codigo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => disciplina.Nome)
                            </th>
                            <th></th>
                        </tr>
                    @foreach (var item in Model.Curriculo.Disciplinas) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Codigo)
                            </td>
                            <td>
                                <a  href="/disciplinas/@item.Codigo">@item.Nome</a>
                            </td>
                            <td>
                                <a href="@item.UrlAva" class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> AVA</a>
                            </td>
                            
                        </tr>
                    }
                    </table>
                    
                </div>
                <hr class="hard"/>
                <div class="pull-right">
                    <a  href="/curriculos/@Model.Codigo" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Currículo completo</a> 
                </div>
                <div>
                    <a href="javascript:history.go(-1)">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</section>

