@model IEnumerable<Singl.Models.UnidadeUniversitaria>

@{
    ViewBag.Title = "Lista de unidades universitárias";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">@ViewBag.Title</h2>
                <hr class="hard">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Sigla)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                        <th></th>
                    </tr>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sigla)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            <div class="pull-right">
                                <!--<a asp-controller="UnidadeUniversitaria" asp-action="Details" asp-route-sigla="@item.Sigla" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Detalhes</a>
                                <a asp-controller="UnidadeUniversitaria" asp-action="Edit" asp-route-sigla="@item.Sigla" class="btn btn-warning"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</a>
                                <a asp-controller="UnidadeUniversitaria" asp-action="Delete" asp-route-sigla="@item.Sigla" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Excluir</a>-->
                                <a href="/admin/unidadesuniversitarias/@item.Sigla" class="btn btn-default">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Detalhes</a>
                                <a href="/admin/unidadesuniversitarias/edit/@item.Sigla"  class="btn btn-warning">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</a>
                                <a href="/admin/unidadesuniversitarias/delete/@item.Sigla" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Excluir</a>
                            </div>
                        </td>
                    </tr>
                }
                </table>
                <hr class="hard">
                <div class="pull-right">
                    <a asp-controller="UnidadesUniversitarias" asp-action="Create" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Criar unidade universitária</a>
                </div>
            </div>
        </div>
    </div>
</section>

