@model Neadm.Models.Curriculo

@{
    ViewBag.Title = $"Detalhes do currículo {@Model.Nome}";
    Layout = "/Views/Shared/_Layout.cshtml";

}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">@ViewBag.Title</h2>
                <hr class="light">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Ano)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Ano)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PrazoConclusaoIdeal)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PrazoConclusaoIdeal)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.PrazoConclusaoMaximo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.PrazoConclusaoMaximo)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Regime)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Regime)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Series)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Series)
                        </dd>
                    </dl>
                </div>
                <p>
                    <a asp-controller="Curriculo" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
                    <a asp-controller="Curriculo" asp-action="Index" asp-route-cursoId="@Model.Curso.Id" >Voltar à lista</a>
                </p>
            </div>
        </div>
    </div>
</section>

