@inject IOptions<AppSettings> AppSettings
@model Singl.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Página Inicial";
}

@section Head {
        <link asp-append-version="true" rel="stylesheet" href="~/css/animate.css" />
        <link asp-append-version="true" rel="stylesheet" href="~/css/home.css" />

        <environment names="Development">
            <link asp-append-version="true" rel="stylesheet" href="~/css/bootstrap-touch-carousel.css" />
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
                  asp-fallback-href="~/css/bootstrap-touch-carousel.css"
                  asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />
        </environment>
        
        <!-- Custom Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
}  
@* nav - The main navigation for the site. *@
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span aria-hidden="true" class="sr-only">Ligar/desligar navegação</span>
                <span aria-hidden="true" class="icon-bar"></span>
                <span aria-hidden="true" class="icon-bar"></span>
                <span aria-hidden="true" class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">@AppSettings.Value.SiteTitle</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">Sobre</a>
                </li>
                <li>
                    <a class="page-scroll" href="#values">Valores</a>
                </li>
                <li>
                    <a class="page-scroll" href="#areas">Áreas de atuação</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contato</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<!--<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Singl</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>-->

<header id="main">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>@Model.Instituicao.Nome</h1>
            <hr>
            <p>@Model.Instituicao.Vinculo</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Saiba mais</a>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sobre o NEAD!</h2>
                <hr class="light">
                <p class="text-faded">@Model.Instituicao.Sobre</p>
                <a  href="#areas" class="btn btn-default btn-xl page-scroll" >Comece agora!</a>
            </div>
        </div>
    </div>
</section>

<section id="values">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nossos valores</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-certificate wow bounceIn text-primary"></i>
                    <h3>Excelência</h3>
                    <p class="text-muted">Cursos certificados, reconhecidos e de qualidade!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-group wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Profissionalismo</h3>
                    <p class="text-muted">Competência, comprometimento e responsabilidade no ensino!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Atualização</h3>
                    <p class="text-muted">Ensino de vanguarda e pesquisa estado da arte!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Amor pelo que fazemos</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="no-padding" id="areas">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Áreas de atuação</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="area-box">
                    <img src="~/images/areas/1.jpg" class="img-responsive" alt="">
                    <div class="area-box-caption">
                        <div class="area-box-caption-content">
                            <div class="project-category text-faded">
                                Ensino
                            </div>
                            <!--<div class="project-name">
                                Project Name
                            </div>-->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="area-box">
                    <img src="~/images/areas/2.jpg" class="img-responsive" alt="">
                    <div class="area-box-caption">
                        <div class="area-box-caption-content">
                            <div class="project-category text-faded">
                                Pesquisa
                            </div>
                            <!--<div class="project-name">
                                Project Name
                            </div>-->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="area-box">
                    <img src="~/images/areas/3.jpg" class="img-responsive" alt="">
                    <div class="area-box-caption">
                        <div class="area-box-caption-content">
                            <div class="project-category text-faded">
                                Extensão
                            </div>
                            <!--<div class="project-name">
                                Project Name
                            </div>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <!--<a asp-controller="Departamentos" class="btn btn-default btn-xl wow tada">Encontre seu curso!</a>-->
            <a href="/spa/cursos?filter=ModalidadeEnsino.Name,Distancia" class="btn btn-default btn-xl wow tada">Encontre seu curso!</a>
        </div>
    </div>
</aside>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Entre em contato!</h2>
                <hr class="primary">
                <p>Gostaria de saber como estudar em uma das melhores universidade do país? Que ótimo! Nos telefone ou nos mande um e-mail que teremos o prazer em responder o mais breve possível!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>+55 (42) 3621-1095</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:@Model.Instituicao.Email">@Model.Instituicao.Email</a></p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <hr class="primary">
                <address>
                    <strong>@Model.Instituicao.Nome</strong><br>
                    @Model.Instituicao.Endereco<br>
                    <abbr title="Phone">Fone:</abbr>@Model.Instituicao.Telefone<br>
                    <abbr title="Fax">Fax:</abbr>@Model.Instituicao.Fax
                </address>                
            </div>
        </div>
    </div>
</section>


@section Scripts {
    
    <environment names="Development">
        <script asp-append-version="true" src="~/lib/bootstrap-touch-carousel.js"></script>
        <script asp-append-version="true" src="~/lib/jquery.easing.js"></script>
        <script asp-append-version="true" src="~/lib/jquery.fittext.js"></script>
        <script asp-append-version="true" src="~/lib/wow.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script asp-append-version="true" src="~/lib/jquery.easing.js"></script>
        <script asp-append-version="true" src="~/lib/jquery.fittext.js"></script>
        <script asp-append-version="true" src="~/lib/wow.js"></script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/lib/bootstrap-touch-carousel.js"
                asp-fallback-src="~/lib/bootstrap-touch-carousel.js"
                asp-fallback-test="window.Hammer && window.Hammer.Instance">
        </script>
    </environment>
    <script asp-append-version="true" src="~/lib/home.js"></script>
}

