@model Neadm.Models.Instituicao

@{
    ViewBag.Title = "Instituição";
    Layout = "/Views/Shared/_LayoutAdmin.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">@ViewBag.Title</h2>
                <hr class="light">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Endereco)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Endereco)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Fax)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Fax)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Sobre)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Sobre)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Telefone)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Telefone)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Vinculo)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Vinculo)
                        </dd>
                    </dl>
                </div>
                <p>
                    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
                </p>
            </div>
        </div>
    </div>
</section>
                
@section Scripts {
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/jquery.validate.unobtrusive.js"></script>
}