@inject IOptions<AppSettings> AppSettings
@inject IHostingEnvironment HostingEnvironment

@{
    ViewBag.Title = "Singl SPA";
    Layout = "";
}

<!doctype html>
@* lang - The language of the page. *@
@* no-js - The no JavaScript class is removed by modernizr if JavaScript is available. *@
<html class="no-js" lang="pt-br" ng-app="singlApp">
    <head asp-open-graph-prefix="true">
        <base href="/spa">
        @* The order of the tags in the head is important for best performance and compatibility.
        @* charset - The character encoding of the document. *@
        <meta charset="utf-8" />
        @* viewport - Set the scale on mobile devices (For more info see https://developer.mozilla.org/en/docs/Mozilla/Mobile/Viewport_meta_tag). *@
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">

        @* title - The title of the page which appears in the browser window title. Aim for the title to be less than 70
            characters. The site name appears at the end for better SEO. *@
        <title>@ViewBag.Title - @AppSettings.Value.SiteTitle</title>
    
    
        @* Icons & Platform Specific Settings (See http://rehansaeed.com/internet-favicon-madness/ for detailed
            information). The order of these icons is very important. *@
        @* $Start-AppleIOSFavicons$ *@
        
        @* Apple Icons - See https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Introduction.html#//apple_ref/doc/uid/30001261-SW1 *@
        @* apple-touch-icon-57x57.png - Android Stock Browser and non-Retina iPhone and iPod Touch *@
        <link rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-touch-icon-57x57.png">
        @* apple-touch-icon-60x60.png - Same as apple-touch-icon-57x57.png, for non-retina iPhone with iOS7. *@
        <link rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-touch-icon-60x60.png">
        @* apple-touch-icon-72x72.png - iPad mini and the first- and second-generation iPad (1× display) on iOS ≤ 6 *@
        <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png">
        @* apple-touch-icon-76x76.png - iPad mini and the first- and second-generation iPad (1× display) on iOS ≥ 7 *@
        <link rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-touch-icon-76x76.png">
        @* apple-touch-icon-114x114.png - iPhone (with 2× display) iOS ≤ 6 *@
        <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png">
        @* apple-touch-icon-120x120.png - iPhone (with 2× and 3 display) iOS ≥ 7 *@
        <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon-120x120.png">
        @* apple-touch-icon-144x144.png - iPad (with 2× display) iOS ≤ 6 *@
        <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-touch-icon-144x144.png">
        @* apple-touch-icon-152x152.png - iPad 3+ (with 2× display) iOS ≥ 7 *@
        <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-touch-icon-152x152.png">
        @* apple-touch-icon-180x180.png - iPad and iPad mini (with 2× display) iOS ≥ 8 *@
        <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon-180x180.png">
        @* $End-AppleIOSFavicons$ *@
    
        @* $Start-AppleMacSafariFavicon$ *@
        @* favicon-32x32.png - For Safari on Mac OS. *@
        <link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32">
        @* $End-AppleMacSafariFavicon$ *@
        @* $Start-AndroidChromeM36ToM38Favicon$ *@
        @* favicon-192x192.png - For Android Chrome M36 to M38 this icon is used. M39+ uses the manifest.json file specified below. *@
        <link rel="icon" type="image/png" href="/img/icons/favicon-192x192.png" sizes="192x192">
        @* $End-AndroidChromeM36ToM38Favicon$ *@
        @* $Start-GoogleTvFavicon$ *@
        @* favicon-96x96.png - For Google TV. *@
        <link rel="icon" type="image/png" href="/img/icons/favicon-96x96.png" sizes="96x96">
        @* $End-GoogleTvFavicon$ *@
        @* favicon-16x16.png - The classic favicon, displayed in the tabs. *@
        <link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16">
        @* $Start-WebAppCapable$ *@
    
        @* apple-mobile-web-app-title - The name of the application if pinned to the IOS start screen. *@
        <meta name="apple-mobile-web-app-title" content="@AppSettings.Value.SiteShortTitle">
        @* apple-mobile-web-app-capable - Hide the browsers user interface on IOS, when the app is run in 'stand-alone'
            mode. Any links to other pages that are clicked whilst your app is in stand-alone mode will launch the full
            Safari browser. *@
        <meta name="apple-mobile-web-app-capable" content="yes">
        @* apple-mobile-web-app-status-bar-style - default/black/black-translucent Styles the IOS status bar. Using
            black-translucent makes it transparent and overlays it on top of your site, so make sure you have enough margin. *@
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
        @* Apple Startup Images - These splash screen images are only shown if apple-mobile-web-app-capable is set to true.
            See https://gist.github.com/tfausak/2222823 *@
        @* apple-touch-startup-image-1536x2008.png - iOS 6 & 7 iPad (retina, portrait) *@
        <link rel="apple-touch-startup-image" href="/img/icons/apple-touch-startup-image-1536x2008.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)">
        @* apple-touch-startup-image-1496x2048.png - iOS 6 & 7 iPad (retina, landscape) *@
        <link rel="apple-touch-startup-image" href="/img/icons/apple-touch-startup-image-1496x2048.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)">
        @* apple-touch-startup-image-768x1004.png - iOS 6 iPad (portrait) *@
        <link rel="apple-touch-startup-image" href="/img/icons/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)">
        @* apple-touch-startup-image-748x1024.png - iOS 6 iPad (landscape) *@
        <link rel="apple-touch-startup-image" href="/img/icons/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)">
        @* apple-touch-startup-image-640x1096.png - iOS 6 & 7 iPhone 5 *@
        <link rel="apple-touch-startup-image" href="/img/icons/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
        @* apple-touch-startup-image-640x920.png - iOS 6 & 7 iPhone (retina) *@
        <link rel="apple-touch-startup-image" href="/img/icons/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)">
        @* apple-touch-startup-image-320x460.png - iOS 6 iPhone *@
        <link rel="apple-touch-startup-image" href="/img/icons/apple-touch-startup-image-320x460.png" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)">
        @* $End-WebAppCapable$ *@
        @* $Start-AndroidChromeM39Favicons$ *@
    
        @* Android/Chrome *@
        @* manifest-json - The location of the browser configuration file. It contains locations of icon files, name of the
            application and default device screen orientation. Note that the name field is mandatory.
            See https://developer.chrome.com/multidevice/android/installtohomescreen. *@
        <!--<link rel="manifest" href="Url.RouteUrl(HomeControllerRoute.GetManifestJson)">-->
        @* theme-color - The colour of the toolbar in Chrome M39+
            See http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android *@
        <meta name="theme-color" content="#1E1E1E">
        @* $Start-WebAppCapable$ *@
        @* mobile-web-app-capable - Run Android/Chrome version M31 to M38 in stand-alone mode, hiding the browser chrome. *@
        <meta name="mobile-web-app-capable" content="yes">
        @* $End-WebAppCapable$ *@
        @* $End-AndroidChromeM39Favicons$ *@
    
        @* Windows 7 Taskbar - This depends on your site, so no code here. See http://www.buildmypinnedsite.com/windows7 *@
        @* $Start-Windows8IE10Favicon$ *@

        @* Windows 8 IE10 *@
        @* application-name - The name of the application if pinned to the start screen. *@
        <meta name="application-name" content="@AppSettings.Value.SiteShortTitle">
        @* msapplication-TileColor - The tile colour which shows around your tile image (msapplication-TileImage). *@
        <meta name="msapplication-TileColor" content="#5cb95c">
        @* msapplication-TileImage - The tile image. *@
        <meta name="msapplication-TileImage" content="/img/icons/mstile-144x144.png">
        @* $End-Windows8IE10Favicon$ *@
        @* $Start-Windows81IE11EdgeFavicon$ *@

        @* Windows 8.1/10 IE11/Edge - See http://www.buildmypinnedsite.com *@
        @* msapplication-config - The location of the browser configuration file. This is not required if the
            browserconfig.xml file is at the root of the site (Which it is). *@
        @* <meta name="msapplication-config" content="@Url.RouteUrl(HomeControllerRoute.GetBrowserConfigXml)"> *@
        @* $End-Windows81IE11EdgeFavicon$ *@

        @* Move site.css to a content delivery network (CDN) for better performance. *@
        <meta name="x-font-awesome-stylesheet-fallback-test" class="fa">
        <environment names="Development">
            <link asp-append-version="true" rel="stylesheet" href="~/css/font-awesome.css" />
            <link asp-append-version="true" rel="stylesheet" href="~/css/bootstrap.css" />
            <link asp-append-version="true" rel="stylesheet" href="~/css/site.css" />
            @* Find a modernizr bower*@            
            <!--<script asp-append-version="true" src="~/lib/modernizr.js"></script>-->
            <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
        </environment>
        <environment names="Staging,Production">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
                  asp-fallback-href="~/css/font-awesome.min.css"
                  asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
            <!--<script asp-append-version="true" src="~/lib/modernizr.js"></script>-->
            <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
            <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
                  asp-fallback-href="~/css/bootstrap.min.css"
                  asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
            <link asp-append-version="true" rel="stylesheet" href="~/css/site.min.css" />
        </environment>
    
        @* Description - Used by search engines. Aim for more than 160 characters. *@
        <meta name="description" content="@ViewBag.Description">
        
    
    </head>
    
<body id="page-top" style="padding-top: 50px;" ng-cloak>
    
        @* Skip to main content link for people who use screen readers. sr-only makes this only visible to screen readers.
            See http://a11yproject.com/posts/skip-nav-links/. *@
        <a href="#main" class="sr-only sr-only-focusable">Pular para o conteúdo principal</a>
        
        @* nav - The main navigation for the site. *@
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span aria-hidden="true" class="sr-only">Ligar/desligar navegação</span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">@AppSettings.Value.SiteTitle</a>
                </div>
        
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#about">Ajuda</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        
        <header id="main">
            <div class="header-content">
                <div class="header-content-inner">
                </div>
            </div>
        </header>        
        <section>
            <div class="container-fluid">
                <ng-view></ng-view>
            </div>
        </section>
        <hr />
        <footer ole="contentinfo">
            <p>&copy; @DateTime.Now.Year - @AppSettings.Value.SiteTitle</p>
        </footer>
            
        <environment names="Development">
            <script asp-append-version="true" src="~/js/site.js"></script>
            <script asp-append-version="true" src="~/lib/jquery.js"></script>
            <script asp-append-version="true" src="~/lib/bootstrap.js"></script>
            <script asp-append-version="true" src="~/lib/hammer.js"></script>
            <script asp-append-version="true" src="~/lib/angular.js"></script>            
            <script asp-append-version="true" src="~/lib/jquery.validate.js"></script>
            <script asp-append-version="true" src="~/lib/jquery.validate.unobtrusive.js"></script>                   
            <script asp-append-version="true" src="~/app/singl.js"></script>
            <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>            
        </environment>
        <environment names="Staging,Production">
            <script asp-append-version="true" src="~/js/site.min.js"></script>
            <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
            </script>
            <script src="//ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                    asp-fallback-src="~/lib/hammer.min.js"
                    asp-fallback-test="window.Hammer">
            </script>
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"
                    asp-fallback-src="~/lib/angular/angular.min.js"
                    asp-fallback-test="window.angular">
            </script>            
            <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
            <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>            

            <script src="~/lib/jquery.validate.min.js"></script>
            <script src="~/lib/jquery.validate.unobtrusive.min.js"></script>            
            <script src="~/app/singl.min.js"></script>            
        </environment>
    </body>
</html>
