@model Singl.Models.Disciplina

@{
    ViewBag.Title = "Excluir disciplina";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>Excluir disciplina</h2>

<h4>Tem certeza que deseja excluir a disciplina "@Model.Nome"?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>

    <form asp-controller="Disciplinas" asp-action="Delete" method="post">
        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            <a asp-controller="Disciplina"  asp-action="Index">Voltar à lista</a>
        </div>
    </form>
</div>

