@model IEnumerable<Singl.Models.Curso>

@{
    ViewBag.Title = "Lista de cursos";
    Layout = "/Views/Shared/_InfoLayout.cshtml";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading">@ViewBag.Title</h2>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Codigo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nome)
                        </th>
                    </tr>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td>
                            <a asp-controller="Curso" asp-action="Details" asp-route-id="@item.Id">@item.Nome</a>
                        </td>
                    </tr>
                }
                </table>
            </div>
        </div>
    </div>
</section>

