@model Neadm.Models.Curso

@{
    ViewBag.Title = "Delete";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Excluir curso</h2>

<h4>Tem certeza que deseja excluir o curso "@Model.Nome"?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>

    <form asp-controller="Curso" asp-action="Delete" method="post">
        <div class="form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-default" /> |
            <a asp-controller="Curso"  asp-action="Index">Voltar à lista</a>
        </div>
    </form>
</div>

