@model Neadm.Models.Disciplina

@{
    ViewBag.Title = "Detalhes da disciplina";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes da disciplina</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
</div>
<p>
    <a asp-controller="Disciplina" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-controller="Disciplina" asp-action="Index">Voltar à lista</a>
</p>

